<div class="container">
	<div class="jumbotron">
		<div class="row">
			<div class="col-lg-12">
				<h1>SFML Projects</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3">
				<img class="img-responsive" src="{{assets}}img/icon-large-text.png" alt="SFML Projects Logo">
			</div>
			<div class="col-lg-9">
				<p>{{{welcome}}}</p>
				<p>
					<a class="btn btn-lg btn-primary" href="http://www.twitter.com/SFMLProjects/" role="button" title="@SFMLProjects" target="_blank"><span class="fa fa-twitter-square fa-2x"></span> Twitter</a>
					<a class="btn btn-lg btn-primary" href="http://irc.lc/irc.boxbox.org:6667/sfmlprojects/webirc" role="button" title="irc.boxbox.org:6667 #sfmlprojects" target="_blank"><span class="fa fa-comment fa-2x"></span> IRC</a>
 					<a class="btn btn-lg btn-primary" href="mailto:info@sfmlprojects.org" role="button" title="info@sfmlprojects.org" disabled="disabled"><span class="fa fa-envelope fa-2x"></span> E-Mail</a>
					<a class="btn btn-lg btn-primary pull-right" href="http://www.sfml-dev.org/" role="button" title="www.sfml-dev.org" target="_blank">SFML <span class="fa fa-external-link"></span></a>
				</p>
			</div>
		</div>
	</div>
</div>
