<div class="container">
	<div class="row">
		<div class="col-lg-3 col-md-offset-3">
			<h2>{{legal}}</h2>
			<br>
			Lukas Dürrenberger<br>
			Forchstrasse 28<br>
			8610 Uster
		</div>
		<div class="col-lg-3">
			<h2>&nbsp;</h2>
			<div class="well well-lg">
				<ul class="list-unstyled">
					<li><i class="fa fa-envelope"></i>&nbsp;&nbsp;<a href="mailto:info@sfmlprojects.org">E-Mail</a></li>
					<li><i class="fa fa-twitter"></i>&nbsp;&nbsp;<a href="https://twitter.com/SFMLProjects">Twitter</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
