<div class="container" id="content">
	<div class="row">
		<div class="col-lg-12">
			<h1>{{title}}</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			{{{content}}}
			<ul class="media-list list-group">
			{{#projects}}
				<a href="#" class="media list-group-item project-list-item">
					<div class="project-thumbnail-container pull-left">
						<img class="project-thumbnail" src="/user_data/projects/{{id}}/{{thumbnail}}" />
					</div>
					<div class="media-body">
						<h4 class="media-heading">{{title}}</h4>
						{{summary}}
					</div>
				</a>
			{{/projects}}
			</ul>
		</div>
	</div>
</div>
