<div class="container" id="content">
	<div class="row">
		{{#alerts}}
			<div class="alert alert-{{class}}" role="alert">
				<strong>{{caption}}</strong>
				{{text}}
			</div>
		{{/alerts}}
	</div>
</div>
