body {
  padding-top   : 70px;
  padding-bottom: 70px;
}

#footer {
  position: fixed;
  bottom  : 0px;
  padding : 0px;
  height  : 41px;
  width   : 100%;
}

.container #navbar {
  position: fixed;
}
